{% extends 'main/base.html' %}


{% block title %}
    Register page
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}   
    <style>
        small{
            color: blueviolet;
        }
    </style>

    <div class="container py-5" style="width: 30%; height: 60%; background-color: #e2e2e2af; margin-top: 20px; border-radius: 50px; text-align: center;">
        <h3>Register</h3>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}    
                          
            <button class="btn btn-primary" type="submit" style="margin: 10px;">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
    </div>

  
  


{% endblock %}